<?xml version="1.0"?>
<configuration>
  
	<!-- NOTE: The following sections have been added by Jim Kelleher: -->  
	<system.web>
    
		<!-- (1) This allows me to see errors in the browser.  The default setting is slightly paranoid (is
           for production, business systems):	-->
		<customErrors mode="Off"/>
    
		<!-- (2) This allows me to test my web services (which are part of this application) by way of calling
           them from browser URL entry: -->
		<webServices>
			<protocols>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="HttpPostLocalhost"/>
			</protocols>
		</webServices>
    
		<!-- (3) The <authentication> section enables configuration of the security authentication mode used by 
           ASP.NET to identify an incoming user: -->
		<authentication mode="Windows"/>
    
    <!-- (4) This section enables/disables caching for the entire application: -->
    <caching>
      <outputCache enableOutputCache = "false" >
      </outputCache>
    </caching>

    <compilation debug="true"/>

  </system.web>

  <appSettings>
    
    <!-- JimRadio URLs and URL prefixes: -->
    <add key="VIDEO_PLAY_URL_PREFIX_EMBED"     value="http://www.youtube.com/v/" />
    <add key="VIDEO_PLAY_URL_PREFIX_EXTERNAL_PLAYER"
                                               value="http://www.youtube.com/watch?v=" />
    <add key="RUN_URL_PREFIX_DEV"              value="http://localhost:2530/Default.aspx/" />
    <add key="RUN_URL_PREFIX_PROD"             value="http://www.workingweb.info/JimRadio/" />

    <!-- External Video Player: -->
    <add key="LAUNCH_EXTERNAL_VIDEO_PLAYER" value="true" />

    <!-- HTML 5 I-frame video player: -->
    <add key="HTML_IFRAME_VIDEO_PLAYER" value="https://www.youtube.com/iframe_api" />

  </appSettings>

  <connectionStrings>

    <!-- My GoDaddy, SQL Server, video (song), "JimRadio" database: -->    
    <add name="DATABASE_CONNECTION_STRING"
    <!-- STRING CUSTOMIZATIONS NEEDED -->    
      connectionString="server=SERVER;uid=UID;pwd=PWD;database=DATABASE;"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>

</configuration>
