/* Tab manipulation */
    
.TabContainer
{
    margin:10px 0;
}
      
.TabContainer .TabSet
{
    display:block;
    list-style:none;
    overflow:hidden;
    margin:0;
    padding:0px;
    position:relative;
    top:1px;
}
                    
.TabContainer .TabSet li
{
    background-color:#3B5997;
    border:1px solid Silver;
    border-bottom:none; 
    color:White;
    cursor:pointer;            
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px!important;
}
                    
.TabContainer .TabSet .Selected
{
    background-color:#ED7F09;
    color:#3B5997;
}
                    
.TabContent
{
    background-color:White;
    border:1px solid Silver;
    float:left;
    margin-bottom:10px;
    overflow:hidden;
    padding:10px;
}
